h1,
strong,
p,
h3,
a,
h5 {
    font-family: "Lato", sans-serif !important;
}

h3 {
    color: #0035aa;
}

#tasas-venezuela,
#realizarPago {
    font-size: 20px;
    background-color: #0035aa;
    border-radius: 25px;
    font-family: "Lato", sans-serif !important;
}

#realizarPago {
    width: 300px !important;
}

#slide-tasas {
    background-color: #ededed;
}

.card {
    border: none;
}

.input-group-text {
    color: white;
    background-color: #0035aa;
    font-family: "Lato", sans-serif !important;
    font-size: 25px;
}

#inputGroupServicios,
#inputGroupMoneda {
    font-size: 25px;
    background-color: #0035aa;
    font-family: "Lato", sans-serif !important;
}

#inputGroupServicios .p-dropdown-label,
#inputGroupMoneda .p-dropdown-label {
    color: white !important;
}

#inputGroupServicios .p-dropdown-trigger,
#inputGroupMoneda .p-dropdown-trigger {
    color: white !important;
}

#inputGroupServicios_list,
#inputGroupMoneda_list,
#selectedBeneficiario_list,
#selectedDepositante_list,
#tipoDocumentoBeneficiario_list,
#selectBanco_list,
#codigoIDepositante_list,
#selectPais_list,
#tipoDocumentoDepositante_list,
#tipoCuentaBeneficiario_list,
#selectedOptionPago_list,
#tipoCuentaDepositante_list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.izquierda {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #0035aa;
    color: white !important;
    font-weight: bold;
    font-family: "Lato", sans-serif !important;
    font-size: 20px;
}

#inputGroupMoneda {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#panel-paypal {
    background-color: #ededed;
    padding: 25px;
    border-radius: 25px;
}

#panel-usdt {
    background-color: #ededed;
    padding: 25px;
    border-radius: 25px;
}

.input-group {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.input-indicativo {
    font-size: 20px;
    font-family: "Lato", sans-serif !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.input-telefono,
.input-telefono > input {
    font-size: 20px;
    font-family: "Lato", sans-serif !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #afb4b8;
}

.input-telefono-right,
.input-telefono-right > input {
    font-size: 20px;
    font-family: "Lato", sans-serif !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #afb4b8;
}

.input-registro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Lato", sans-serif !important;
    border-radius: 25px;
    color: #afb4b8;
}

.p-dropdown .p-dropdown-label,
.input-registro > input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: "Lato", sans-serif !important;
    border-radius: 25px;
    color: #afb4b8;
}

.derecha {
    background-color: #0035aa;
    color: white !important;
    font-weight: bold;
    font-family: "Lato", sans-serif !important;
    font-size: 20px;
}

.p-fileupload-content {
    color: #afb4b8;
    font-family: "Lato", sans-serif !important;
}

.p-fileupload-content {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.p-fileupload-choose {
    background-color: #0035aa;
}

.p-fileupload-buttonbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #ffff;
}

.p-voucher {
    width: 15%;
    height: 35px;
    padding-top: 6px;
    background-color: #0035aa !important;
}

.p-dropdown-trigger-icon {
    color: #afb4b8;
}

.p-carousel-indicator>button {
    background-color: #afb4b8;
}

.p-highlight>button {
    background-color: #0035aa;
}

/* .p-menuitem-link>span {
    font-size: 18px !important;
} */

/* #adjuntarDocumento {
    background-color: #0035aa;
    color: white;
    border-radius: 25px;
} */

.form-row input {
    width: 80%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

/* FOOTER */
.footer {
    background-color: #ededed;
    padding-top: 25px;
}

.footer ul a {
    color: #949494 !important;
}

ul.custom-list {
    list-style: none;
    padding-left: 0;
}

ul.custom-list > li:before {
    content: ">";
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}

.ruc {
    background-color: #0035aa;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ruc p {
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Lato", sans-serif !important;
}

.col-sm > .row > .col-3 > a i {
    background-color: #009d2c;
    color: white;
    border-radius: 45px;
    padding: 12px;
}
/* FIN FOOTER */
