h4,
p,
h5 {
    font-family: "Lato", sans-serif !important;
}

/* SECCION NOTIFICACIONES */
.notificaciones {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 35px;
    margin-top: 100px;
    padding: 35px;
    font-family: "Lato", sans-serif !important;
    max-width: 1500px !important;
}

#opcion1-tab,
#opcion2-tab,
#opcion3-tab,
#opcion4-tab {
    color: #0035aa;
    font-family: "Lato", sans-serif !important;
}

.notification-badge {
    position: relative;
    top: -5px;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.active {
    font-weight: bold;
}

.seccion {
    margin-right: -20px;
    overflow-y: scroll;
    height: 500px;
}

.seccion::-webkit-scrollbar {
    background-color: #ededed;
    border-radius: 4px;
    width: 8px;
    height: 8px;
}

.seccion::-webkit-scrollbar-thumb {
    background-color: white;
    border: #ededed 1px solid;
    border-radius: 4px;
}

.text-right,
.text-left {
    padding-right: 15px;
    color: #818181;
}

.btn-primary {
    background-color: #0035aa !important;
    font-family: "Lato", sans-serif !important;
    color: white;
    border-radius: 25px;
}
/* FIN SECCION NOTIFICIONES */

/* MODAL COMPROBANTE*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Estilo del contenido del Modal*/
.modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 25px;
}

/* El botón de cerrar (x) */
.close,
.closeContacto,
.closeReclamo {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.closeContacto:hover,
.closeContacto:focus,
.closeReclamo:hover,
.closeReclamo:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#motivoReclamo,
#cuentas,
.input-estado {
    width: 50%;
    border-radius: 25px;
    font-size: 20px;
    font-family: "Lato", sans-serif !important;
}

#texto {
    border-radius: 25px;
    font-size: 20px;
    font-family: "Lato", sans-serif !important;
}

.input-cuenta {
    font-size: 20px;
    border-radius: 25px;
    font-family: "Lato", sans-serif !important;
    margin-left: auto;
    margin-right: auto;
}

#selectedOptionEnProceso_list,
#selectedOptionPorSolucionar_list,
#selectedOptionProcesado_list,
#selectedDepositanteReclamo_list,
#tipoDocumentoReclamo_list,
#selectPaisReclamo_list,
#codigoIReclamo_list,
#inputGroupServiciosReclamo_list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

/* FOOTER */
.footer {
    background-color: #ededed;
    padding-top: 25px;
}

ul a {
    color: #949494 !important;
}

ul.custom-list {
    list-style: none;
    padding-left: 0;
}

ul.custom-list > li:before {
    content: ">";
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}

.ruc {
    background-color: #0035aa;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ruc p {
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Lato", sans-serif !important;
}

.col-sm > .row > .col-3 > a i {
    background-color: #009d2c;
    color: white;
    border-radius: 45px;
    padding: 12px;
}
/* FIN FOOTER */
