/*  CSS MENU */
.nav-bar {
    background-color: white !important;
}

.navbar-nav {
    display: flex !important;
    align-items: center !important;
}

.navbar-logo {
    max-width: 150px !important;
}

.navbar-nav .nav-item:nth-child(5) .nav-link {
    color: #009d2c !important;
}

.navbar-nav .nav-item:nth-child(5) .nav-link:hover {
    color: #02c73a !important;
}

.navbar-nav .nav-link {
    color: black !important;
    font-family: 'Lato', sans-serif !important;
}

.navbar-nav .nav-link:hover {
    color: #414141 !important;
}

.navbar-nav .nav-item:nth-child(6) .nav-link {
    color: white !important; 
    background-color: #009d2c !important; 
    border-radius: 20px !important; 
    padding: 5px 15px !important; 
}

.navbar-nav .nav-item:nth-child(6) .nav-link:hover {
    background-color: #02c73a !important;
}

.navbar-nav .nav-item:nth-child(7) .nav-link, .navbar-nav .nav-item:nth-child(8) .nav-link {
    font-size: 24px !important;
}
/* FIN CSS MENU */

/* IMAGEN TEXTO */
.columna-texto {
    padding: 20px !important;
}

.columna-imagen {
    padding: 20px !important;
    text-align: center !important;
}

.columna-imagen img {
    max-width: 100% !important;
}

.columna-texto {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    height: 65vh !important;
}

.columna-texto>h1 {
    font-weight: bold;
    color: black;
    font-family: 'Lato', sans-serif !important;
    font-size: 60px;
}

.columna-texto>p {
    font-size: 30px;
    font-family: 'Lato', sans-serif !important;
    color: black;
}

@media only screen and (max-width: 768px) {
    .columna-texto {
        height: auto !important;
    }
}

.enlace-reseñas {
    background-color: #0035aa;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
}

.enlace-reseñas:hover {
    color: white;
}

.estrellas {
    font-size: 24px;
    margin-top: 5px;
    color: #fccb00;
}
/* FIN IMAGEN TEXTO */

/* INFORMACION */
.text-center {
    font-family: 'Lato', sans-serif !important;
    font-size: 30px;
    color: black;
}
/* FIN INFORMACION */

/* SELECT DE SERVICIOS */
.custom-select {
    background-color: #ffffff;
    border-radius: 35px;
    padding: 5px 30px 5px 10px;
    width: 75%;
    font-family: 'Lato', sans-serif !important;
    background-color: #0035aa;
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%);
    background-position: calc(100% - 70px) 0.7em, calc(100% - 50px) 0.7em;
    background-size: 20px 20px, 20px 20px;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 1199px) {
    .custom-select {
        background-position: calc(100% - 55px) 0.7em, calc(100% - 35px) 0.7em;
    }
}

@media (max-width: 991px) {
    .custom-select {
        background-position: calc(100% - 45px) 0.7em, calc(100% - 25px) 0.7em;
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .custom-select {
        background-position: calc(100% - 25px) 0.7em, calc(100% - 10px) 0.7em;
        background-size: 15px 15px, 15px 15px;
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .custom-select {
        background-position: calc(100% - 30px) 0.7em, calc(100% - 15px) 0.7em;
        background-size: 15px 15px, 15px 15px;
        width: 100%;
        font-size: 16px;
    }
}

.custom-select>option {
    background-color: white;
    color: #000000; 
    width: 100%;
}

.text-select {
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif !important;
}
/* FIN SELECT DE SERVICIOS */

/* FORMULARIO DE OPCIONES */
.cambios {
    border-radius: 35px;
    background-color: #ededed;
    padding: 55px;
}

.info {
    border-right: solid 1px black;
    padding-right: 35px;
}

.info h5 {
    font-weight: bold;
}

.info p {
    font-size: 20px;
}

.info p,h5 {
    font-family: 'Lato', sans-serif !important;
    color: #0035aa;
}

.info img {
    width: 100%;
}

.icon img {
    width: 80%;
}

.data {
    padding-left: 35px;
}

.data input {
    height: 50px;
    font-size: 25px;
    border-radius: 25px;
}

.data img {
    width: 9%;
    position: absolute;
    margin-top: -14px;
    margin-left: -25px;
}

.data h4 {
    font-family: 'Lato', sans-serif !important;
    color: black !important;
    font-size: 27px;
}

.data button {
    background-color: #0035aa !important;
    color: #FFF;
    font-size: 25px;
    border-radius: 25px;
}

@media (max-width: 990px) {
    .data img {
        width: 10.5%;
        position: absolute;
        margin-top: -7px;
        margin-left: -25px;
    }

    .data h4 {
        font-size: 20px ;
    }
}

@media (max-width: 760px) {
    .data img {
        width: 10.5%;
        position: absolute;
        margin-top: -10px;
        margin-left: -25px;
    }
}

@media (max-width: 767px) {
    .info {
        border-right: none;
        border-bottom: solid 1px black;
        padding-bottom: 25px;
        padding-right: 15px;
    }

    .data {
        padding-top: 35px;
        padding-left: 15px;
    }
}

@media (max-width: 450px) {
    .data img {
        width: 13%;
        position: absolute;
        margin-top: -7px;
        margin-left: -25px;
    }

    .data h4 {
        font-size: 16px ;
    }

    .data button {
        font-size: 20px;
    }
}

.data .form-group {
    margin-bottom: 0px;
}
/* FIN FORMULARIO DE OPCIONES */

/* CANTIDAD DE USUARIOS */
.clientes>h2 {
    text-align: center;
    font-family: 'Lato', sans-serif !important;
    color: #0035aa;
    font-weight: bold;
}

.resaltar {
    color: #02c73a;
}
/* FIN CANTIDAD DE USUARIOS */

/* INICIO CARRUSEL */
.puntuaciones {
    width: 100%;
    background-color: #ededed;
    padding-top: 35px;
    padding-bottom: 60px;
}

.fa-chevron-left, .fa-chevron-right {
    color: #000000 !important;
}

.card-text, .card-title {
    font-family: 'Lato', sans-serif !important;
}

.card-img-top {
    width: 30%;
    border-radius: 50%;
    padding-top: 15px;
    padding-left: 15px;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.btn-reseña {
    border-radius: 25px;
    font-size: 25px;
    background-color: #0035aa;
    width: 330px;
}

@media (max-width: 710px) {

    .carousel-control-next {
        display: none;
    }

    .carousel-control-prev {
        display: none;
    }

}
/* FIN CARRUSEL */








/* FOOTER */
.footer {
    background-color: #ededed;
    padding-top: 25px;
}

ul a {
    color: #949494 !important;
    
}

ul.custom-list {
    list-style: none;
    padding-left: 0;
}

ul.custom-list > li:before {
    content: ">";
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}

.ruc {
    background-color: #0035aa;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ruc p {
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif !important;
}

.col-sm>.row>.col-3>a i {
    background-color: #009d2c;
    color: white;
    border-radius: 45px;
    padding: 12px;
}
/* FIN FOOTER */
